/* Colors */
/* Violet - c08af7 */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

h1 {
    font-size: 375%;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

/* Utility Classes */
.group:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

.lead {
    font-size: 125%;
    margin-bottom: 30px;
}

.text-primary {
    color: #c08af7;
}

.btn {
    display: inline-block;
    font-size: 112.5%;
    padding: 15px 20px;
    background-color: #333;
    transition: color 0.2s, background-color 0.2s;
}

.btn:hover {
    color: #333;
    background-color: #c08af7;
}

/* Header */
.logo {
    float: left;
    margin-top: 14px;
    font-size: 180%;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: color 0.2s;
}

.logo:hover {
    color: #c08af7;
}

header nav {
    float: right;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 24px;
    transition: color 0.2s, background-color 0.2s;
}

.navbar li a:hover {
    color: #c08af7;
    background-color: #444;
}

.navbar li.current a {
    color: #c08af7;
    background-color: #444;
}

/* Showcase */
.showcase {
    background-image: linear-gradient(#0009, #000d), url('../img/showcase.jpg');
}

.showcase-content {
    padding: 180px 0 220px;
    text-align: center;
}